<%- layout("layouts/boilerplate.ejs") %>
    <h1>
        Update
        <%=campground.name%>
    </h1>
    <hr>
    <form action="/campgrounds/edit/<%=campground.id%>?_method=PATCH" method="POST">
        <div class="container">
            <div class="row">
                <div class="mb-3 col-5">
                    <label for="name" class="form-label fw-bold">Campground Name</label>
                    <input type="text" name="cg[name]" id="name" value="<%=campground.name%>" class="form-control" placeholder="Fancy Campground">
                </div>
                <div class="mb-3 col-5">
                    <label for="location" class="form-label fw-bold">Location</label>
                    <input type="text" name="cg[location]" id="location" value="<%=campground.location%>" class="form-control" placeholder="New York">
                </div>
                <div class="mb-3 col-2">
                    <label for="exampleFormControlInput1" class="form-label fw-bold">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount" placeholder="0.00" id="price" value="<%=campground.price%>">
                    </div>
                </div>
                <div class="mb-3 col-12">
                    <label for="description" class="form-label fw-bold">Description</label>
                    <textarea class="form-control" rows="3" name="cg[description]" id="description" class="form-control" placeholder="A crisp Headline about this Campground..."><%=campground.description%></textarea>
                </div>
            </div>
        </div>
        <button class="btn btn-success">Update</button>
        <a href="/campgrounds/<%=campground.id%>" class="btn btn-outline-danger">Cancel</a>
    </form>