<%- layout("layouts/boilerplate.ejs") %>
    <h1>All Campgrounds</h1>
    <hr>
    <div class="d-flex flex-row justify-content-center flex-wrap">
        <%for (let c of campgrounds) {%>
            <div class="card m-3 container overflow-hidden">
                <div class="row">
                    <div class="overflow-hidden position-relative col-3" style="height: 100%">
                        <img src="<%=c.image%>" class="card-img-top position-absolute position-absolute top-50 start-50 translate-middle" alt="<%=c.description%>" style="min-height: 100%;">
                    </div>
                    <div class=" card-body col-9 p-5">
                        <h5 class=" card-title ">
                            <%=c.name%>
                        </h5>
                        <h6 class="text-muted">
                            <%=c.location%>
                        </h6>
                        <p class=" card-text ">
                            <%=c.description%>
                        </p>
                        <a href=" /campgrounds/<%=c.id%>" class="btn btn-success">Explore</a>
                    </div>
                </div>
            </div>
            <%}%>
    </div>