<%- layout("layouts/boilerplate.ejs") %>
    <h1>
        <%=campground.name%>
    </h1>
    <hr>
    <ul>
        <li>Location:
            <%=campground.location%>
        </li>
        <li>Price:
            <%=campground.price%>
        </li>
        <li>Description:
            <%=campground.description%>
        </li>
    </ul>
    <a href="/campgrounds/edit/<%=campground.id%>"><button class="btn btn-success">Edit</button></a>
    <a href="/campgrounds/delete/<%=campground.id%>"><button class="btn btn-danger">Delete</button></a>